@tailwind base;
@tailwind components;
@tailwind utilities;

.nav{
   
}
 .sticky{
    position: sticky;
    top:0;
    /* z-index: 1060; */
    /* box-shadow: 0px 10px 1px -1px gray; */
    background-color: #F6F5F2 !important;
    animation: stickyname 0.3s ease forwards;
     /* background-color: rgba(0, 0, 0, 0.1) !important;  */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    z-index: 9999; 
}

@keyframes stickyname {
    0%{
        transform: translateY(-100px);
    }
    100%{
        transform: translateY(0px);
    }
}


.pic{
    background: url("../assets//Vector.png");
    border-radius: 70px;
    
}
